# Step 1: Download and Unzip the Dataset

In [4]:
!wget -P data https://go.criteo.net/criteo-research-attribution-dataset.zip

--2025-03-22 19:24:29--  https://go.criteo.net/criteo-research-attribution-dataset.zip
Resolving go.criteo.net (go.criteo.net)... 74.119.117.38, 2620:100:a00b::27
Connecting to go.criteo.net (go.criteo.net)|74.119.117.38|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://criteostorage.blob.core.windows.net/criteo-research-datasets/criteo_attribution_dataset.zip [following]
--2025-03-22 19:24:29--  https://criteostorage.blob.core.windows.net/criteo-research-datasets/criteo_attribution_dataset.zip
Resolving criteostorage.blob.core.windows.net (criteostorage.blob.core.windows.net)... 20.209.1.1
Connecting to criteostorage.blob.core.windows.net (criteostorage.blob.core.windows.net)|20.209.1.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 653128946 (623M) [application/zip]
Saving to: ‘data/criteo-research-attribution-dataset.zip’

criteo-research-att 100%[===================>] 622.87M  7.78MB/s    in 87s

2025-03-22 19:25:56 (7.19 MB/s) - ‘data/criteo-research-attribution-dataset.zip’ saved [653128946/653128946]

In [ ]:
# Check if the .zip file is in the data folder
!ls -lh data/

total 623M
-rw-rw-r-- 1 niresh niresh 623M Apr  8  2020 criteo-research-attribution-dataset.zip

In [ ]:
# Extracting the file
!unzip data/criteo-research-attribution-dataset.zip -d data/

Archive:  data/criteo-research-attribution-dataset.zip
  inflating: data/Experiments.ipynb
  inflating: data/README.md
  inflating: data/criteo_attribution_dataset.tsv.gz

# 1. Loading the Dataset

In [ ]:
import pandas as pd

file_path = "data/criteo_attribution_dataset.tsv.gz"

# Read the file in chunks so it doesn't run out of memory and prevent kernel crash
chunk_size = 500_000  # Load 500K rows at a time
df_list = []

for chunk in pd.read_csv(file_path, sep="\t", compression="gzip", chunksize=chunk_size):
    df_list.append(chunk)
    print(f"Loaded {len(df_list) * chunk_size} rows so far...")

# Combine chunks into a single dataframe
df = pd.concat(df_list, ignore_index=True)

print("Data loaded successfully!")

Loaded 500000 rows so far...
Loaded 1000000 rows so far...
Loaded 1500000 rows so far...
Loaded 2000000 rows so far...
Loaded 2500000 rows so far...
Loaded 3000000 rows so far...
Loaded 3500000 rows so far...
Loaded 4000000 rows so far...
Loaded 4500000 rows so far...
Loaded 5000000 rows so far...
Loaded 5500000 rows so far...
Loaded 6000000 rows so far...
Loaded 6500000 rows so far...
Loaded 7000000 rows so far...
Loaded 7500000 rows so far...
Loaded 8000000 rows so far...
Loaded 8500000 rows so far...
Loaded 9000000 rows so far...
Loaded 9500000 rows so far...
Loaded 10000000 rows so far...
Loaded 10500000 rows so far...
Loaded 11000000 rows so far...
Loaded 11500000 rows so far...
Loaded 12000000 rows so far...
Loaded 12500000 rows so far...
Loaded 13000000 rows so far...
Loaded 13500000 rows so far...
Loaded 14000000 rows so far...
Loaded 14500000 rows so far...
Loaded 15000000 rows so far...
Loaded 15500000 rows so far...
Loaded 16000000 rows so far...
Loaded 16500000 rows so far...
Data loaded successfully!

In [4]:
# Display basic info
df.head()

,timestamp,uid,campaign,conversion,conversion_timestamp,conversion_id,attribution,click,click_pos,click_nb,...,time_since_last_click,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9
0,0,20073966,22589171,0,-1,-1,0,0,-1,-1,...,-1,5824233,9312274,3490278,29196072,11409686,1973606,25162884,29196072,29196072
1,2,24607497,884761,0,-1,-1,0,0,-1,-1,...,423858,30763035,9312274,14584482,29196072,11409686,1973606,22644417,9312274,21091111
2,2,28474333,18975823,0,-1,-1,0,0,-1,-1,...,8879,138937,9312274,10769841,29196072,5824237,138937,1795451,29196072,15351056
3,3,7306395,29427842,1,1449193,3063962,0,1,0,7,...,-1,28928366,26597095,12435261,23549932,5824237,1973606,9180723,29841067,29196072
4,3,25357769,13365547,0,-1,-1,0,0,-1,-1,...,-1,138937,26597094,31616034,29196072,11409684,26597096,4480345,29196072,29196072